h1{
	font-size: 20px;
	color: #ff00f2;
}
h2{
	font-size: 46px;
	color: #000000;
}
.item{
	font-size: 35px;
	color: #ff00ff;
}

.item2{
	font-size: 30px;
	color: #000000;
}
img{
	width: auto;
	height:50%;
}
a{text-decoration: none;

}